@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body{
    font-family: 'Secular One', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #5caecc;
    overflow: hidden;
}
#starter{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: 2s ease;
}
#starter > h1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
#starter > p{
    margin-top: 5px;
    color: white;
}
#starter > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
input{
    width: 40%;
    height: 25px;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 3px transparent solid;
}
input:focus, input:hover{
    outline: 3px #2481a3 solid;
}
button{
    height: 38px;
    width: 80px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    background-color: #3197bd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #2481a3;
}
button:focus{
    box-shadow: none;
    background-color: #2481a3;
}
#results{
    margin: 0 auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.205);
    box-shadow: 0 8px 32px 0 #5495adbb;backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    color: white;
    width: 70%;
    height: 50vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    animation: appear 2s ease-in-out;
}
@keyframes appear {
    0%{
        margin-top: 40%;
    }
    100%{
        margin-top: 0%;
    }
}
#results h1,p{
    margin: 0;
}
#error-img{
    width: 20%;
    margin: 20px;
}
@media screen and (max-width:600px) {
    input{
        width: 70%;
    }
    #results{
        width: 100%;
    }
}