@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body{
    font-family: 'Secular One', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #5caecc;
    overflow: hidden;
}
#starter{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    transition: 0.5s ease;
    padding-top: 40px;
}
#starter img{
    width: 10%;
    margin-bottom: 20px;
}
#starter > p{
    margin-top: 5px;
    color: white;
}
#starter > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
input{
    width: 40%;
    height: 25px;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    border: 3px transparent solid;
}
input:focus, input:hover{
    outline: 3px #2481a3 solid;
}
#starter button{
    height: 38px;
    width: 80px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    background-color: #3197bd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#starter button:hover{
    background-color: #2481a3;
}
#results{
    margin: 0 auto;
    display: none;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 #5495adbb;backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    color: white;
    width: 70%;
    height: 70vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    animation: appear 0.5s ease-in-out;
}
@keyframes appear {
    0%{
        margin-top: 40%;
    }
    100%{
        margin-top: 0%;
    }
}
@keyframes desappear {
    0%{
        margin-top: 0%;
    }
    100%{
        margin-top: 40%;
    }
}
#results h1,p,h3{
    margin: 0;
}
#error-img{
    width: 80px;
    margin: 20px;
}
.info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.info-container img{
    margin: 0 auto;
}
.info-container div{
    display: flex;
    text-align: justify;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}
.info-container div:first-child p{
    text-align: center;
}
.info-container div > h3{
    text-align: center;
}
.info-container div > h2{
    text-align: center;
    font-size: 16px;
}
.info-container div:hover{
    background-color: white;
    color: #5caecc;
    cursor: pointer;
}
.title{
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 15px;
}
.title > button{
    margin-left: 30px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    background-color: #3197bd;
    border: none;
    border-radius: 5px;
}
.title > button:hover{
    background-color: #2481a3;
    cursor: pointer;
}
.title button > img{
    width: 16px;
}
.title > h1 {
    margin: 0 auto;
}
.title > div{
    width: 100%;
    position: absolute;
}
@media screen and (max-width:600px) {
    input{
        width: 70%;
    }
    #starter img{
        width: 50%;
    }
    #results{
        width: 100%;
    }
    .info-container div {
        flex: 1;
        margin: 20px;
    }
    .info-container img{
        width: 90px;
    }
}